.header {
  display: flex;
  align-items: center;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

.item-1 {
  margin-inline-end: 15px;
}

ion-label strong {
  font-size: 0.9rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.85rem;
}

.circle {
  background-color: #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.icone {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 5px;
  background-color: #ddd;
}

.info {
  margin-bottom: 5px;
}
